<form [formGroup]="accountform">
    <label>createdAt:</label>
    <input type="date" formControlName="createdAt">
    <br>
    <label>accountname:</label>
    <input type="text" formControlName="account_name">
    <br>
    <label>available_balance:</label>
    <input type="text" formControlName="available_balance">
    <br>
    <label>currency:</label>
    <input type="text" formControlName="currency">
    <br>
    <label>image:</label>
    <input type="text" formControlName="user_image">
    <br>
    
    <br>
    <button (click)="submit()">submit</button>

</form>
