<div class="parent">
    <div class="left">
        <h3 routerLink="interpolation">interpolation</h3>
        <h3 routerLink="event-binding">eventbinding</h3>
        <h3 routerLink="two-way-binding">two way binding</h3>
        <h6 routerLink="calculator">calculator</h6>
        
        <h4 routerLink="rectangle">rectangle</h4>
        <h4 routerLink="square">square</h4>
        <h1 routerLink="employee-registration">employee-registration</h1>
        <h1 routerLink="cart">cart</h1>
        <h1 routerLink="amazon">amazon</h1>
        <h6 routerLink="pipes">pipes</h6>
        <h4 routerLink="cars">cars</h4>
        <h4 routerLink="stars">stars</h4>
        <h4 routerLink="simpleform">simpleform</h4>
        <h5 routerLink="gpay">Gpay</h5>
        <h6 routerLink="bank">bank</h6>
        <h6 routerLink="vehicle">vehicle</h6>
        <h6 routerLink="typecoder">typecoder</h6>
        <h6 routerLink="flipcart">flipcart</h6>
        <h6 routerLink="create-account">create-account</h6>
        <h6 routerLink="create-user">create-user</h6>
       <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>

    </div>

